<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.ethanbell.posti">

    <!--Web permissions-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
                  android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ProcessImageActivity"
                  android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="me.ethanbell.posti.PROCESSIMG"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <!--image objects from "share" actions-->
                <data android:mimeType="image/*"/>
                <!--image links from "share" actions-->
                <data android:mimeType="text/plain"/>
                <data android:mimeType="text/html"/>
            </intent-filter>
        </activity>
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="me.ethanbell.posti.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>
        <service android:name=".ClipboardMonitorService"/>
        <!--Reddit API information-->
        <meta-data
                android:name="net.dean.jraw.android.REDDIT_USERNAME"
                android:value="BeardedCrake"/>
        <meta-data
                android:name="net.dean.jraw.android.CLIENT_ID"
                android:value="rRYJYyT91AkmAQ"/>
        <meta-data
                android:name="net.dean.jraw.android.REDIRECT_URL"
                android:value="https://posti.ethanbell.me/"/>
    </application>

</manifest>